<!DOCTYPE html>
<html>
  <head>
    <title>Andromeda Flame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a9af247f01.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('sarah.jpeg') %>
  </head>


  <body >
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <main class="banner flex">
      <%= yield %>
    </main>
      <%= render 'layouts/footer' %>
  </body>
</html>
